<div class"card ">
    <img class="card-img-top" src="{{ produit.image }}" alt="Image de {{ produit.titre }}" width="100" height=auto>
    <div class="card-body">
        <h5 class="card_title" >{{ produit.titre }}</h5>
        <div class="card_title text-primary" style="font-weight: bold;font-size: 1.5rem;" >
            
            {% if produit.promo %}
                <div class="text text-warning">PROMO ! {{ produit.promo }} %</div>
                <del>{{ produit.prix | number_format(0, ',', ' ')}} €</del> - {{ produit.getPrixpromo | number_format(0, ',', ' ')}} €
            {% else %}
            {{ produit.prix | number_format(0, ',', ' ')}} €
            {% endif %}
        </div>
        <p class="text text-muted">{{ produit.description }}</p>
    <div>
        {% for c in produit.categories %}
            <em class="text-muted text-primary text-italic"> # {{ c.name }} </em>
        {% endfor %}
        <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-success float-right">
        <i class="fas fa-shopping-cart mr-1">
        </i>
        Ajouter
        </a></div>
    </div>
</div>