{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<div class="p-3">
<h1 class="txt-white">Les produits</h1>

</div>
<div class="row">

{% for produit in produits %}
    <div class="col-4 mt-4">
        <div class="box-black bg-white txt-black p-2 clearfix">
            <a href="{{ path('show_produit', {'id': produit.id}) }}" class="txt-xl txt-black">
                {{ produit.titre }}
            </a><p>
                - {{ produit.description }}
                - {{ produit.couleur }}
                - {{ produit.taille }}
                - {{ produit.prix }} €</p>
            
            <img class="img-fluid box-black" src="{{ produit.image }}" alt="Image de {{ produit.titre }}" width="200" 
     height=auto>
            <hr>
            <a href="{{ path('panier_add', {'id': produit.id}) }}" class="btn btn-success float-right">
                <i class="fas fa-shopping-cart mr-1"></i>
                Ajouter
            </a>
        </div>

    </div>
{% endfor %}
</div>

{% endblock %}
